@media only screen 
and (min-width:320px)
and (max-width:835px){
	.container{
		padding:0px 40px 140px 40px  !important;
	}
	.modal-dialog{
		width:300px;
		margin:0 auto;
	}
}

@media only screen 
and (min-width:992px)
and (max-width:1200px){
	.left-side-menu-wrapper{
		margin-top:160px !important;
	}
}

div.container-fluid {
	position: fixed;
	width:100%;
	height:100%;
	top:0;
    left:0;
	z-index: -1;
	background-color: #8e7154;
	background-image: url('../img/background.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}
div.container {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

div.left-side-menu-wrapper {
	background: url('../img/background-black.png') top left transparent;
	margin-top:85px;
	padding-bottom:20px;
	border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
}

div.left-side-menu-wrapper p{
	text-align: center;
	text-transform: uppercase;
	font-size:22px;
	padding-top:20px;
	padding-bottom:0px;
	
}

ul.top-menu li a{
	text-decoration:none;
	font-size:20px;
	color:white;
}
ul.top-menu{
	margin-top:40px;
	margin-bottom:0px !important;
	display:block;
}

ul.top-menu li {
	margin-right:1%;
	padding:5px 15px 5px 15px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	display: inline-block;
}

ul.top-menu li:hover{
	background: url('../img/background-black.png') top left transparent;	
}
div.content {
	background: url('../img/background-white.png') top left transparent;
	color: #000000;
	padding: 20px 20px 0px 20px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	font-size:18px;
}
div.content p.heading{
	font-size:24px;
	margin:10px 0 30px 0;
	text-align:center;
	
}
a.call {
	height: 40px;
	background: url('../img/background-call.png') top left repeat-x #faa900;
	padding: 4px 10px;
	font-size:19px;
}

div.phone-number-block p{
	text-align:center;
	font-size:25px;
}
div.phone-number-block{
	min-width: 200px;
	margin:0 auto;
	width:200px;
}

div.site-logo-text-block h1{
	font-size:22px !important;
	text-align:center;
	letter-spacing:1px;
	line-height:130%;
}
div.site-logo-text-block span{
	text-align:center;
	font-size:15px;
	letter-spacing:none;
	display:block;
}
div.logo-image-block{
	padding-left:0px !important;
	padding-right:0px !important;
	text-align:center;
}

li.top-menu-link-active{
	background: url('../img/background-black.png') top left transparent;
}

div.top-menu-grid{
	padding-bottom:0px !important;
}
div.content-grid
{
	padding-left:0px !important;
	padding-right:0px !important;
}



div.left-side-block-grid,
div.logo-image-grid,
div.left-menu-grid
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

ul.left-side-menu{
	list-style-type:none;
	padding:none !important;
	margin-top:20px;
}

ul.left-side-menu>li,
.item-active ul li
{
	list-style-type:none;

	min-width:260px;
	margin-left:-40px;
	padding:5px 20px 5px 20px;
	
}


ul.left-side-menu ul{
	margin-top:0px;
	display:none;
	list-style-type:none;
	margin-left:-50px;
	
}

ul.left-side-menu ul li{
	padding:5px 20px 5px 20px;
}

ul.left-side-menu li a,
.item-active ul li a
{
	color:#ffffff;
	font-size:16px;
}

ul.left-side-menu li a:hover {
	text-decoration:none;
	color:#F0B11C;
}

div.footer-wrapper
{
	border-top:2px solid silver;
	margin-top:60px;
}
div.footer-wrapper p 
{
	padding: 5px 0px 5px 0px;
}

.left-menu-active-link
{
	color:#F0B11C!important;
}
.top-menu-for-small-screen-wrapper
{
	width:100%;
	background: url('../img/background-black.png') top left transparent;
	max-height:50px;
	margin-top:30px;
	margin-bottom:20px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding-top:15px;
	padding-bottom:15px;
}
.remove-padding{
	padding-left:0px;
	padding-right:0px;
}
select{
	width:70%;
	max-width:300px;
	display:block;
	margin:0 auto;
	color:black;
	font-family: Cursive;
}
div.left-menu-for-small-screen-wrapper
{
	margin-bottom:20px;
}

div.modal-wrapper
{
	margin: 20px;
	background-color: #ECECEC;
	position:relative;
}

div.modal-content
{
	background-color: #ECECEC;
	margin-top:80%;

}

div.modal-wrapper p
{
	text-align:center;
	font-size:24px;
	line-height:70%;
}

div.modal-wrapper p:first-child
{
	margin-top:10px;
}

div.modal-wrapper input
{
	width:240px;
	height:40px;
	border:2px solid whitesmoke;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-align:center;
}

div.modal-wrapper input:first-child
{
	margin:10px 0 0 0;
}

div.modal-wrapper input:nth-child(2)
{
	margin: 5px 0 10px 0;
}

.modal-button
{
	width:240px;
}

.Ellipse {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(213,149,1) 0%, rgb(243,180,31) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(213,149,1) 0%, rgb(243,180,31) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(213,149,1) 0%, rgb(243,180,31) 100%);
  box-shadow: 0px 1px 0px 0px rgba(143, 113, 42, 0.004), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.7);
  position: absolute;
  right:-10px;
  top: -10px;
  width: 24px;
  height: 24px;
  z-index: 42;
  cursor:pointer;
  text-align:center;
  font-size:19px;
}

.margin-top-20px{
	margin-top:40px;
}

.portfolio-item-wrapper
{
	position:relative;
}

.portfolio-item-wrapper p{
	position: absolute;
	bottom:-10px;
	width:100%;
	color:white;
	font-size:18px;
	text-align:center;
	opacity: 1;
	z-index:1;
	height:40px;
	padding-top:7px;
}

.portfolio-item-wrapper img{
	width: 100% !important;
}

.portfolio-item-wrapper p::after {
  content: "";
  background-color:black;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index:-2;
}

.portfolio-grid>div {
	margin-bottom:20px;
}



